
  :root {

    --mainColor:   #15202B;
    --secondaryColor: #192734;
  
    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow:#111921;
  
    --borderColor:1px solid #164D56;
    --borderColor-2px:3px solid #164D56;
    
    --borderDotThema: 2px solid #FFF;
    --borderDotThemaHover: 4px solid black;
  
    --mainText-color: #fff;
    --secondaryText-color: #eeeeee;
  
    --links-Color: #17a2b8;
    --buttonColor: #17a2b8;

  }


