
  :root {

    --mainColor:   #606b56;
    --secondaryColor: #515a48;
  
    --previewBg: rgb(251, 249, 243, 0,8);
    --previewShadow:#f0ead6;
  
    --borderColor:1px solid #000000;
    --borderColor-2px:3px solid #0c0c0c;
    
    --borderDotThema: 2px solid black;
    --borderDotThemaHover: 4px solid black;
  
    --mainText-color: #fff;
    --secondaryText-color: #afb5b9;
  
    --links-Color: #17a2b8;
  }