
:root {

  --mainColor: #eaeaea; 
  --secondaryColor: #fff;

  --previewBg: rgb(251, 249, 243, 0,8);
  --previewShadow:#f0ead6;

  --borderColor:1px solid #c1c1c1;
  --borderColor-2px:3px solid #c1c1c1;
  
  --borderDotThema: 2px solid black;
  --borderDotThemaHover: 4px solid black;

  --mainText-color: #000;
  --secondaryText-color: #4b5156;

  --links-Color: #17a2b8;
}