/* <!--GOOGLE FONTS START-->*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Russo+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 18px;
    font-family: var(--primary-text-font);
    color: var(--mainText-color);
}


:root {

    --mainColor: #eaeaea; 
    --secondaryColor: #fff;

    --primary-text-font:'Russo One', sans-serif;
    --secondary-text-font:'Ubuntu', sans-serif;
    --three-text-font:'Roboto Mono', monospace;

    --previewBg: rgb(251, 249, 243, 0,8);
    --previewShadow:#f0ead6;

    --borderColor:1px solid #c1c1c1;
    --borderColor-2px:3px solid #c1c1c1;
    
    --borderDotThema: 2px solid black;
    --borderDotThemaHover: 4px solid black;

    --mainText-color: #000;
    --secondaryText-color: #4b5156;

    --links-Color: #17a2b8;
}



/*GENERAL STYLES FOR LABELS START...*/

h1,h2,h3,h4,h5,h6, strong {
    color: var(--mainText);
	font-family: 'Russo One', sans-serif;
	font-weight: 500;
}
p, li, span, label, input, textarea {
    color: var(--secondaryText-color);
    font-family: 'Roboto Mono', monospace;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #17a2b8;
    font-weight: 400;
    font-family: var(--secondary-text-font);
}
a:hover {
    color: #17a3b8a1;
}
h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

/*....GENERAL STYLES FOR LABELS FINISH.*/

.title {
    text-align: center;
}

.space-margin {
    margin: 30px 0 0 0;
}

.quotes {
    font-size: 14px;
    font-family: var(--three-text-font);
}

.secondary-text {
    color: var(--secondaryText-color);
    font-family: var(--three-text-font);
    font-size: 16px;
    margin: 16px 0;
}

.mainContainer {
    max-width: 1200px;
    height: 0 auto;
    margin: auto;
}

.s1 {
    background: var(--mainColor);
    border-top: var(--borderColor-2px);
    overflow: auto; 
}

.s2 {
    background-color: var(--secondaryColor);
    border-top: var(--borderColor);
}


/* start SECTION 1 title*/


.s1 h1 {
    width: 100%;
    text-align: center;
    padding: 40px 0;
    font-weight: 500;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas: 
    "navigation navigation"
    "left-colum right-colum";
    gap: 10px;
    max-width: 1200px;
    margin: auto;
    border: var(--borderColor);
    background: var(--secondaryColor);
}

.nav {
    display: flex;
    justify-content: space-between;
    grid-area: navigation;
    border: var(--borderColor);
    align-items: center;
    background: var(--mainColor);
}

.left-colum {
    grid-area: left-colum;
    display: flex;
    flex-direction: column; 
    padding: 50px 0;
}

.left-colum h4 {
    padding-top: 10px;
}

.left-colum p {
    padding-top: 15px;
}

.img-container {
    width: 100%;
    text-align: center;
}

.img-container img {
    display: block;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    object-fit: cover;
    border: var(--borderColor-2px)
}

.selec-pageColor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
}

.theme-dot {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    margin: 5px;
    border: var(--borderDotThema);
    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    cursor: pointer;
}

.theme-dot:hover {
    border: var(--borderDotThemaHover);
    height: 40px;
    width: 40px;
    transition: 0.5s;
}

.white{background: white;}
.black{background: black;}
.grey{background: grey;}
.purple{background: purple;}


/*START RIGHT COLUM*/
.right-colum {
    grid-area: right-colum;
    display: grid;
    align-items: center;
    padding-bottom: 50px;
}

#preview-shadow {
    background-color: var(--previewShadow);
    width: 300px;
    height: 180px;
    padding-left: 30px;
    padding-top: 30px;
}
#preview {
    border: 1.5px solid #17a2b8;
    width: 300px;
    margin: auto;
    padding:15px;
    position: relative;
    background: var(--previewBg);
}

#preview h4 {
    margin: 28px 0;
    font-weight: 500;
}


.corner {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    border: 1px solid #5bbdd6;
    position: absolute;
    background: #fff;
}
#corner1 {
    top: -4px;
    left: -4px;
}

#corner2 {
    top: -4px;
    right: -4px;
}

#corner3 {
    bottom: -4px;
    left: -4px;
}

#corner4 {
    bottom: -4px;
    right: -4px;
}



/*FINISH RIGHT COLUM*/

/*dots..*/
.dots-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0 0 0 20px;
}

.link-container {
    padding-right: 20px;
}
.dot{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin-right: 5px;
    -webkit-box-shadow: 2px 7px 21px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 7px 21px 1px rgba(0,0,0,0.75);
box-shadow: 2px 7px 21px 1px rgba(0,0,0,0.75);
}

#red-dot {background: rgba(255, 0, 0, 0.849);}
#yellow-dot {background: rgba(255, 255, 0, 0.747);}
#green-dot {background: rgba(0, 128, 0, 0.76);}
/*dot finish*/


.selec-pageColor {
display: flex;
flex-direction: row;
}
/* finish SECTION 1 title*/

/*---Section 2-- START---------------------*/


#about-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15em 15em;
    grid-template-areas: 
    "left-colum-top right-colum-mid"
    "left-colum-bot right-colum-mid";
    gap: 0 80px;
    margin: auto;
    padding: 40px 0;
    max-width: 1200px;
    align-items: center;
}

.left-colum-top {
     grid-area: left-colum-top;
     border-bottom: 1px solid black;
     margin: auto;
    }
.left-colum-bot {
    grid-area: left-colum-bot;
    margin: auto;
}

.left-colum-bot h4 {
   display: flex;
}

.right-colum-mid {
    grid-area: right-colum-mid;
    margin: auto;
}


.img-container-s2 {
    text-align: center;
    height: auto;
    max-width: 100%;
}

.img-container-s2 img {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    object-fit: cover;
}

.right-colum-mid  h4 {
    text-align: center;
    margin: 20px 0;
}

.links {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.skills {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 5px;
    background-color: rgba(188, 143, 143, 0.274);
    justify-content: space-evenly;
}

.skills ul li {
    font-family: var(--three-text-font);
    font-weight: 300;
}


/*---Section 2-- FINISH--------------------*/

/*---Section 3-- START--------------------*/

.s1 {
    border-top: var(--borderColor);
}

.flex {
    display: flex;
    justify-content: space-evenly;
   max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

.proyects {
    text-align: center;
    padding: 30px;
    
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: left;
    padding-left: 8px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }

  /*---Section 3-- FINISH--------------------*/


  /*---Section 4 CONTACT-- START--------------------*/
  .contact {
      display: flex;
      flex-direction: column;
      max-width: 1200px;
      margin: 10px auto;
  }

  .contact h3 {
      padding: 30px 0;
  }

  .container-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 632px;
    margin: auto;
    border: var(--borderColor);
  } 

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }


  #submit-btn {
      width: 100%;
      background: black;
      margin: auto;
      border: var(--borderColor);
      color: white;
      padding: 12px 20px;
      border-radius: 4px;
      cursor: pointer;
  }

  #submit-btn:hover {
   border: var(--borderColor-2px);
    background: rgba(0, 0, 0, 0.781);
    
}


  /*---Section 4 CONTACT-- FINISH--------------------*/






        /*-------*MEDIA QUERYS-------------*/

@media screen and (max-width: 1200px) {
    .mainContainer {
        width: 95%;
    }
    
}

@media screen and (max-width: 800px) {
  
    #wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3em 24em 24em;
        grid-template-areas: 
        "navigation"
        "left-colum"
        "right-colum";
        gap: 10px;
    }

    .left-colum {
        padding: 50px 0 0 0;
    }
    
    .right-colum {
        padding-bottom: 50px;
        margin: auto;
    }
}









